NEXT_PUBLIC_RIFITV_API_BASE=http://127.0.0.1:8000/api/v1
NEXT_PUBLIC_RIFITV_SITE_URL=http://127.0.0.1:3000
NEXT_PUBLIC_RIFITV_ADS_ENABLED=false
NEXT_PUBLIC_RIFITV_NORMAL_ADS_ENABLED=true
NEXT_PUBLIC_RIFITV_AGGRESSIVE_ADS_ENABLED=false
NEXT_PUBLIC_RIFITV_MOBILE_ADS_ENABLED=true
NEXT_PUBLIC_RIFITV_TABLET_ADS_ENABLED=true
NEXT_PUBLIC_RIFITV_DESKTOP_ADS_ENABLED=true
NEXT_PUBLIC_RIFITV_TV_ADS_ENABLED=false
NEXT_PUBLIC_RIFITV_PREWATCH_AD_ENABLED=true
NEXT_PUBLIC_RIFITV_AGGRESSIVE_COOLDOWN=20
NEXT_PUBLIC_RIFITV_MAX_AGGRESSIVE_PER_SESSION=2
NEXT_PUBLIC_RIFITV_DIRECT_LINK_COOLDOWN=30
NEXT_PUBLIC_RIFITV_VIGNETTE_COOLDOWN=20
NEXT_PUBLIC_RIFITV_AD_SCRIPT_TIMEOUT_MS=5000
NEXT_PUBLIC_RIFITV_PREWATCH_SECONDS=10
NEXT_PUBLIC_RIFITV_ZONE_248721_ENABLED=true
NEXT_PUBLIC_RIFITV_ZONE_11137945_ENABLED=true
NEXT_PUBLIC_RIFITV_ZONE_11137952_ENABLED=true
NEXT_PUBLIC_RIFITV_ZONE_11137954_ENABLED=true
NEXT_PUBLIC_RIFITV_ZONE_11137969_ENABLED=true
NEXT_PUBLIC_RIFITV_ZONE_250801_ENABLED=true
NEXT_PUBLIC_APP_TIMEZONE=Africa/Casablanca